* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 3rem auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100vh; */
}

.form-box {
  display: block;
  margin-top: 2rem;
}

.notice {
  width: 200px;
  height: 200px;
  border: 1px solid green;
  display: flex;
  justify-content: flex-end;
  padding-top: 2.5rem;
  padding-right: 1.5rem;
}

.category {
  border: 1px solid red;
  width: 30px;
  height: 20px;
}
